.taskContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;


    .checkbox{
        appearance: none;
        
        width: 1rem;
        height: 1rem;
        border: 1px solid var(--blue);
        border-radius: 999px;
    }

    .checkbox:checked {
        background-color: (--blue);
    }
}